
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx    Généralités xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

body
{
	width: 1440px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
	color: #000000;
}

header, section
{
	margin: 50px 50px 50px 50px;
}

h1, h2, #filtres, #aff, .bold
{
	font-weight: bold;
}

h1
{
	font-size: 1.4em;
}

h2, #filtres, #aff, nav, p
{
	font-size: 1em;
}

footer ul
{
	font-size: 0.8em;
}

ul
{
	list-style-type: none;
}

.blue
{
	color: #0065FC;
}

.grey
{
	color: #F2F2F2;
}


/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx     header   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo
{
	width: 100px;
	height: auto;
}

nav ul
{
	display: flex;
}

nav li
{
	margin: 0 25px 0 50px;
}

nav a, nav a:visited
{
	text-decoration: none;
	color: #000000;
	}


nav a:hover
{
	color: #0065FC;
	border-top: solid 2px #0065FC;
	padding-top: 30px;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx section Recherche  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  bouton formulaire   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#boutonformulaire
{
	display: flex;
	align-items: center;
	font-size: 1.2em;
}

#boutonformulaire input
{
	padding: 0;
}


#boutonformulaire .fa-map-marker-alt
{
	background-color: #F2F2F2;
	width: 50px;
	height: 50px;
	text-align: center;
	
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	line-height: 50px;
}

p input
{
	font-size: 1em;
}

#lieu_demandé
{
	border: 1px solid #F2F2F2;
	width: 235px;
	height: 50px;
	font-weight: bold;
	margin-left: 5px;
}

input::placeholder
{
	color: black;
	padding-left: 5px;
}

#Rechercher
{
	border: 1px solid #0065FC;
	border-bottom-right-radius : 20px; 
	border-top-right-radius: 20px; 
	background-color: #0065FC;
	width: 135px;
	height: 52px;
	font-weight: bold;
	color: white;
	margin-left: -4px;
}



/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  fin bouton formulaire   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


#filtres, #filtres ul
{
	display: flex;
	align-items: center;
	margin-left: 10px;
}

#filtres h2
{
	font-size: 1.2em;
}

#filtres li
{
	margin-right: 30px;
	border: 3px solid #F2F2F2;
	border-radius: 20px;
	padding-right: 20px;
	font-size: 1.2em;
}

#filtres i
{
	width: 20px;
	height: 20px;
	text-align: center;
	
	border-radius: 50%;
	background-color: #DEEBFF;
	color: #0065FC;
	padding: 10px;
	margin-right: 5px;
	margin-left: -3px;
	line-height: 20px;
}

.fa-info
{
	width: 15px;
	height: 15px;
	text-align: center;
	border: 1px solid #F2F2F2;
	border-radius: 50%;
	margin-right: 5px;
	color: #0065FC;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx section hébergements + popularité xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

		
#heberg
{
	display: flex;
	justify-content: space-between;
}

#heberg div
{
	background-color: #F2F2F2;
	border-radius: 20px;
}

#heberg figure
{
	
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 0px 6px grey;
}

figcaption h3
{
	font-size: 1em;
	margin-top: 5px;
	margin-bottom: 0;

}

figcaption p
{
	margin-top: 5px;
	margin-bottom: 5px;
}

figcaption i
{
	margin-bottom: 5px;
}

			/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Partie hébergements  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#heb
{
	width: 880px;
}

#listehotels
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

#heb figure
{
	width: 250px;
	height: 200px;
	margin: 20px 10px 10px 10px;
}


.hotels img
{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
}

.hotels figcaption
{
	margin-left: 10px;
}

#heb h1, #aff
{
	margin-left: 40px;
}

		/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Partie popularité  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


#pop
{
	width: 420px;
}



#titrepop
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#pop figure
{
	display: flex;
	width: 82%;
	height: 140px;
}

.populaires img
{
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}


.populaires figcaption
{
	margin-left: 15px;
}

.populaires figcaption i
{
	margin-top: 50px;
}



/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx section Activités  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#activités
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	

}


#acti figure
{
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 0px 6px grey;
	width: 300px;
	margin-left: 0;
}

#activités div
{
	width: 22%;
}

#activités img
{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
}

#activités figcaption
{
	margin : 0px 0 0px 10px;
	height: 55px;
}

figure #notre_dame, figure #parc_longchamp
{
	margin-right: 0;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Footer  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

footer
{
	display: flex;
	background-color: #F2F2F2;
}

footer div 
{
	margin-right: 200px;
}

footer div h2
{
	margin-left: 40px;
	margin-top: 30px;
}

footer li
{
	margin-bottom: 10px;
}


