
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX    GENERALITES    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

body
{
	width: auto;
	max-width: 1440px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
	color: #000000;
}

	header, section
	{
		margin: 40px 50px 40px 50px;
	}

	h1, h2, #filtres, #aff, .bold
	{
		font-weight: bold;
	}

	h1
	{
		font-size: 1.4em;
	}

	#aff, nav, p, h3, footer ul
	{
		font-size: 1em;
	}

	ul
	{
		list-style-type: none;
	}


	a, a:visited
	{
		text-decoration: none;
		color: #000000;
		}

	.blue
	{
		color: #0065FC;
	}

	.grey
	{
		color: #F2F2F2;
	}


/*  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX     HEADER   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/


header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	#logo
	{
		width: 100px;
		height: auto;
	}

	nav
	{
		display: flex;
	}

		nav ul
		{
			display: flex;
			margin-right: 40px;
		}

			nav li
			{
				margin: 0 26px 0 42px;
			}

			nav a:hover
			{
				color: #0065FC;
				font-weight: bold;
				border-top: solid 4px #0065FC;
				padding-top: 30px;
			}

	
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX SECTION RECHERCHE  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#recherche h1
{
	margin-bottom: -10px;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  bouton formulaire   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#boutonformulaire, #mobboutonformulaire
{
	display: flex;
	align-items: center;
	font-size: 1.2em;
	margin-top: -20px;
}


	#boutonformulaire .fa-map-marker-alt, #mobboutonformulaire .fa-map-marker-alt
	{
		background-color: #F2F2F2;
		width: 54px;
		height: 50px;
		text-align: center;
		border-bottom-left-radius: 15px;
		border-top-left-radius: 15px;
		line-height: 50px;
	}

	#boutonformulaire input, #mobboutonformulaire input
	{
		padding: 0;
	}

	#boutonformulaire p, #mobboutonformulaire p
	{
		margin-left: -5px;
	}

	p input
	{
		font-family: 'Raleway', sans-serif;
		font-size: 1em;
	}

		.lieu_demandé
		{
			border: 1px solid #F2F2F2;
			width: 235px;
			height: 50px;
			font-weight: bold;
			margin-left: 5px;
			margin-right: -4px;
		}

			input::placeholder
			{
				color: black;
				padding-left: 10px;
			}

		.Rechercher
		{
			border: 1px solid #0065FC;
			border-bottom-right-radius : 15px; 
			border-top-right-radius: 15px; 
			background-color: #0065FC;
			width: 135px;
			height: 52px;
			font-weight: bold;
			color: white;
			margin-left: -4px;
		}

	
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  fin bouton formulaire   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx    filtres   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


#filtres, #filtres ul
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

	#filtres h2
	{
		font-size: 1.1em;
	}

	#filtres i
	{
		width: 30px;
		height: 30px;
		text-align: center;
		border-radius: 50%;
		background-color: #DEEBFF;
		color: #0065FC;
		padding: 10px;
		margin-right: 12px;
		margin-left: -3px;
		line-height: 30px;
	}

	#filtres li
	{
		margin-right: 30px;
		border: 3px solid #F2F2F2;
		border-radius: 30px;
		padding-right: 20px;
		font-size: 1.1em;
	}

	
		#filtres li:hover

		{
			color: #0065FC;
		}

		#filtres li:hover i

		{
			background-color: #0065FC;
			color: #DEEBFF;
		}

div#info
{
	display: flex;
	align-items: baseline;
}		

i.fa-info
{
	width: 20px;
	height: 20px;
	font-size: 0.8em;
	text-align: center;
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 10px;
	color: #0065FC;
	line-height: 20px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX SECTION HEBERGEMENTS + POPULARITE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

		
#heberg
{
	display: flex;
	justify-content: space-between;
	margin-top: -10px;
}

#heberg #heb, #pop
{
	background-color: #F2F2F2;
	border-radius: 20px;
}

#heberg h1
{
	margin-top: 40px;
	margin-bottom: 5px;
}

#heberg figure
{
	border: solid 4px white;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 0px 6px grey;
}

	figcaption h3
	{
		margin-top: 5px;
		margin-bottom: 0;

	}

	figcaption p
	{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	figcaption i
	{
		margin-bottom: 5px;
	}

			/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Partie hébergements  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#heb
{
	width: 880px;
}

	#heb h1, #aff
	{
		margin-left: 40px;
	}

	#listehotels
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}

		#heb figure
		{
			width: 250px;
			height: 200px;
			margin: 20px 10px 10px 10px;
		}


			.hotels img
			{
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
				width: 100%;
			}

			.hotels figcaption
			{
				margin-left: 10px;
			}

	
	#aff
	{
		margin-bottom: 50px;
	}

		/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Partie popularité  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


#pop
{
	width: 420px;
}

	#titrepop
	{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

		#titrepop h1
		{
			margin-left: -18px;
		}

		#titrepop i
		{
			font-size: 1.4em;
			margin-right: -15px;
		}

	.populaires
	{
		margin-bottom: 30px;
	}

		#pop figure
		{
			display: flex;
			flex-direction: row;
			height: 140px;
		}

			.populaires img
			{
				border-bottom-left-radius: 20px;
				border-top-left-radius: 20px;
			}


			.populaires figcaption
			{
				display: flex;
				flex-direction: column;
				margin: 5px 40px 0 15px;
			}

				.push
				
				{
					margin-top: auto;
					padding-bottom: 5px;
				}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX SECTION ACTIVITES  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#activités
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

	#acti h1
	{
		margin: 50px 0 7px 0;
	}

	#activités div
	{
		width: 22.7%;
		height: 445px;
	}

		#acti figure
		{
			border-radius: 20px;
			background-color: white;
			box-shadow: 0px 0px 6px grey;
			width: 300px;
			margin-left: 0;
		}

			#activités img
			{
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
				width: 100%;
			}

			.recadrer
			{
				height: 390px;
				object-fit: cover;
			}

			img.vieux_port
			{
				object-position: 50% 50%;
			}

			#activités figcaption
			{
				margin-left: 20px;
				height: 55px;
				line-height: 55px;
			}



			#notre_dame, #pomègues
			{
				margin-bottom: 30px;
			}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   FOOTER  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

footer
{
	display: flex;
	justify-content: space-around;
	background-color: #F2F2F2;
	margin-top: 80px;
}

	footer div 
	{
		width: 33%;
		margin-top: 12px;
	}

		footer div h2
		{
			font-size: 1.2em;
			margin-left: 40px;
			margin-top: 30px;
		}

		footer li
		{
			margin-bottom: 10px;
		}

		

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX VERSION MOBILE  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media all and (max-width: 768px)

{
	
	/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx modifs disposition générale xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
	body
	{
		width: auto;
	}

	h1
	{
		color: red;
	}

	header, section#acti
	{
		margin: 30px 20px 0 20px;
	}

	section#recherche
	{
		margin-left: 10px;
		margin-right: 10px;
	}

		#filtres ul
		{
			padding: 0;
		}

		#filtres li
		{
			margin-right: 6px;
		}


	section#heberg
	{
		margin: 0;
	}

		#heberg
		{
		flex-direction: column-reverse;
		}

		footer,	#listehotels, #activités
			{
			flex-direction: column;
			}

		footer div
		{
			width: 100%;
		}

			

		

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx modification menu navigation xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

		
		header
		{
			align-items: flex-start;
		}

		nav li
		{
			border-bottom: 2px solid red;
			padding-bottom: 20px;
			margin: 0;
		}

		nav
		{
			flex-direction: column-reverse;
			align-items: flex-end;
		}

		nav ul
		{
			justify-content: space-around;
			margin: 0;
		}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx modification bouton formulaire  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

		#boutonformulaire
		{
			display: none;
		}

		form button.Rechercher
		{
			width: 50px;
		}




/*xxxxxxxxxxxxxxxxxxxxxxxxx  modif disposition + fonds section hébergements  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


			div#pop
			{
				width: auto;
				border-radius: 0;
			}


			figure.populaires
			{
				margin-right: 20px;
				margin-left: 20px;
			}

			#heberg #heb
			{
				width: auto;
				background-color: unset;
			}

				#heb h1
				{
					margin-left: 20px;
				}

				#heb figure
				{
					width: auto;
					height: auto;
					margin-right: 0;
					margin-left: 0;
				}

				.hotels img
				{
					width: 325px;
					height: 115px;
				}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  modif disposition section activités  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

				#activités div
				{
					width: auto;
					height: auto;
				}

				#acti figure
				{
					width: auto;
					margin-right: 0;
				}			
	

				#acti img
				{
					width: 335px;
					height: 135px;
				}

				#acti img.recadrer
				{
					object-fit: cover;

				}

				#acti img.vieux_port
				{
					object-position: 50% 20%;
				}

				#acti img.calanques
				{
					object-position: 50% 25%;
				}





}		

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media all and (min-width: 768px)


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx masquer bouton formulaire version mobile   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
{

	#mobboutonformulaire
	{
		display: none;
	}



}

