
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX    GENERALITES    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

body
{
	width: auto;
	max-width: 1440px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
	color: #000000;
}

	header, section
	{
		margin: 40px 50px 40px 50px;
	}

	h1, h2, #filtres, #aff, .bold
	{
		font-weight: bold;
	}

	h1
	{
		font-size: 1.4em;
	}

	nav, p, h3, footer ul
	{
		font-size: 1em;
	}

	ul
	{
		list-style-type: none;
	}


	a, a:visited
	{
		text-decoration: none;
		color: #000000;
		}

	.blue
	{
		color: #0065FC;
	}

	.grey
	{
		color: #F2F2F2;
	}


/*  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX     HEADER   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/


header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

	#logo
	{
		width: 100px;
		height: auto;
	}

	nav
	{
		display: flex;
	}

		nav ul
		{
			display: flex;
			margin-right: 40px;
		}

			nav li a
			{
				padding: 0 25px 0 25px;
			}

			nav li:hover a                        /*modif aspect éléments au survol*/
			{
				color: #0065FC;
				font-weight: bold;
				border-top: solid 2px #0065FC;
				padding-top: 30px;
			}

	
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX SECTION RECHERCHE  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#recherche h1
{
	margin-bottom: -10px;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  bouton formulaire   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

div#boutonformulaire
{
	display: flex;
	align-items: center;
	font-size: 1.2em;
	border-top: 2px solid #F2F2F2;
	border-bottom: 2px solid #F2F2F2;
	border-radius: 15px;
	height: 50px;
	width: 420px;
}


	i.fa-map-marker-alt
	{
		background-color: #F2F2F2;
		width: 54px;
		height: 50px;
		text-align: center;
		border-bottom-left-radius: 15px;
		border-top-left-radius: 15px;
		line-height: 50px;
		margin-left: -1px;
	}

	 
	#boutonformulaire p
	{
		margin-left: -5px;
	}

	p input
	{
		font-family: 'Raleway', sans-serif;
		font-size: 1em;
		border: unset;
	}

		form input.lieu_demande
		{
			height: 50px;
			max-width: 219px;
			font-weight: bold;
			margin-left: 5px;
			margin-right: -4px;
			background-color: unset;
		}

			input::placeholder
			{
				color: black;
				padding-left: 10px;
			}

		.Rechercher
		{
			border: unset;
			border-bottom-right-radius : 15px; 
			border-top-right-radius: 15px; 
			background-color: #0065FC;
			width: 135px;
			height: 52px;
			font-weight: bold;
			color: white;
			margin-left: 8px;
		}

	
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  fin bouton formulaire   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx    filtres   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


#filtres, #filtres ul
{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

	#filtres h2
	{
		font-size: 1.1em;
		margin-left: 12px;
		margin-top: 30px;
	}

	
	#filtres li
	{
		margin-right: 25px;
		border: 3px solid #F2F2F2;
		border-radius: 30px;
		padding-right: 20px;
		font-size: 1.1em;
		margin-bottom: 10px;
	}

		#filtres i
			{
				width: 30px;
				height: 30px;
				text-align: center;
				border-radius: 50%;
				background-color: #DEEBFF;
				color: #0065FC;
				padding: 10px;
				margin-right: 10px;
				margin-left: -3px;
				line-height: 30px;
			}
			
		#filtres li:hover         /*modif aspect filtres au survol*/

		{
			color: #0065FC;
		}

		#filtres li:hover i

		{
			background-color: #0065FC;
			color: #DEEBFF;
		}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  info  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

div#info
{
	display: flex;
	align-items: baseline;
}		

i.fa-info
{
	width: 20px;
	height: 20px;
	font-size: 0.7em;
	text-align: center;
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 10px;
	color: #0065FC;
	line-height: 20px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX ELEMENTS COMMUNS HEBERGEMENTS + POPULARITE XXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

		
#heberg
{
	display: flex;
	justify-content: space-between;
	margin-top: -10px;
}

#heberg #heb, #pop
{
	background-color: #F2F2F2;
	border-radius: 20px;
}

#heberg h1
{
	margin-top: 40px;
	margin-bottom: 5px;
}

#heberg figure
{
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 0px 6px grey;
}

	figcaption p
	{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#heberg figcaption p
	{
		font-size: 0.9em;
	}

	#heberg h3
			{
				margin-top: 0;
				margin-bottom: 0;
			}

	.fa-star
	{
		margin-bottom: 5px;
		font-size: 0.8em;
	}

	/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Partie hébergements  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


#heb
{
	width: 880px;
}

	#heb h1, #aff
	{
		margin-left: 40px;
	}

	#listehotels
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: center;
		margin-left: 20px;
		margin-right: 20px;
	}

		#heb figure
		{
			width: 245px;
			height: 200px;
			margin: 20px 10px 10px 10px;
		}


			.hotels img
			{
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
				width: 235px;
   				height: 115px;
   				margin: 5px;
			}

			.hotels figcaption
			{
				margin-left: 15px;
			}
	
	#aff
	{
		margin-top: 30px;
		font-size: 1.2em;
	}

	/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Partie popularité  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


#pop
{
	width: 420px;
	height: fit-content;     /* évite alignement horizontal avec la hauteur de la partie "heb" sur petites largeurs */
    padding-bottom: 20px;
	margin-left: 40px;
}

	#titrepop
	{
		display: flex;
		justify-content: space-around;
		align-items: baseline;
	}

		#titrepop h1
		{
			margin-left: -18px;
		}

		#titrepop i
		{
			font-size: 1.4em;
			margin-right: -15px;
		}

	#hotelspop
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	
		#pop figure
		{
			display: flex;
			flex-direction: row;
			height: 145px;
			width: 343px;
			margin-left: 20px;
			margin-right: 20px;
		}

			.populaires img
			{
				border-bottom-left-radius: 20px;
				border-top-left-radius: 20px;
				width: 127px;
    			height: 135px;
    			margin: 5px;
			}


			.populaires figcaption
			{
				display: flex;
				flex-direction: column;
				margin: 15px 40px 0 15px;
			}

				.push             /* permet d'écarter l'un des éléments de la flexbox (ici les étoiles), tout en restant à l'intérieur de la box  */
				
				{
					margin-top: auto;
					padding-bottom: 5px;
				}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX SECTION ACTIVITES  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/


#acti h1
	{
		margin: 50px 0 -30px 0;
	}


#activites
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

	
	#activites div
	{
		width: 300px;
		height: 445px;
		margin-top: 40px;
	}

		#acti figure
		{
			border-radius: 20px;
			background-color: white;
			box-shadow: 0px 0px 6px grey;
			width: 300px;
			margin-left: 0;
		}

			#activites img
			{
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
				width: 100%;
			}

			.recadrer
			{
				height: 390px;
				object-fit: cover;
			}

			#activites figcaption
			{
				margin-left: 20px;
				height: 55px;
				line-height: 55px;
			}

			#activites h3
			{
				margin-top: 0;
			}


			#notre_dame, #pomegues
			{
				margin-bottom: 30px;
			}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   FOOTER  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

footer
{
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
	margin-top: 80px;
	padding-bottom: 30px;
}

	footer div 
	{
		width: 33%;
		margin-top: 12px;
	}

		footer div h2
		{
			font-size: 1.2em;
			margin-left: 40px;
			margin-top: 30px;
		}

		footer li
		{
			margin-bottom: 10px;
		}

		

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX VERSION MOBILES  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media all and (max-width: 768px)

{


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx modification header / menu navigation pour MOBILES    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

	

	header
	{
		margin: 30px 20px 0 20px;
		align-items: flex-start;     /*  permet de remonter le logo au niveau vertical de "s'inscrire"   */
	}


		#logo
		{
			position: absolute;           /* permet à nav de pouvoir se décaler sur la gauche  */
		}

		
		nav
		{
			flex-direction: column-reverse;
			width: 100%;
			align-items: flex-end;
		}

		nav ul
		{
			justify-content: space-around;
			width: 100%;
			margin: 0;
		}

		nav li
		{
			border-bottom: 2px solid #F2F2F2;
			padding-bottom: 20px;
			width: 100%;
			text-align: center;
			margin: 20px -20px 0 -20px;
		}

		nav li:hover					/*xxxxxxxxxxxxxxxxx  changement aspect au survol  xxxxxxxxxxxxxxxxxxxxx*/
		{
			border-bottom: 2px solid #0065FC;
		}

		nav li:hover a
			{
				border-top: unset;
				padding-bottom: 20px;
				width: 100%;
			}


	/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  section recherche pour MOBILES  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


	section#recherche
	{
		margin: 30px 20px 20px 20px;
	}


	#recherche h1
		{
			margin-bottom: 0;
		}

	#centreounature
		{
			margin-bottom: 30px;
		}

	#filtres
		{
			margin-top: 15px;
			margin-bottom: -20px;
		}

		#filtres h2
			{
				margin-top: 15px;
				margin-left: 0px;
			}


		#filtres ul
			{
				padding: 0;
				margin-top: 0px;
			}

			#filtres li
				{
					margin-right: 6px;
					font-size: 1em;
				}

	#info
		{
			margin: 0 -10px 20px -10px;
		}

		#info p
			{
				width: 90%;						/* évite écrasement de l'icône sur la gauche */
			}




/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx modification bouton formulaire pour MOBILES  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

	div#boutonformulaire
	{
		width: 337px;
		margin: auto;
	}


		#boutonformdesktop					/* masque bouton forme texte du desktop */
		{
			display: none;
		}

		form button.Rechercher
		{
			width: 52px;
			height: 52px;
			border-bottom-left-radius: 15px;
			border-top-left-radius: 15px;
		}




/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  section hébergements  pour MOBILES  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


section#heberg
	{
	margin: 0;
	flex-direction: column-reverse;
	}
 
	#heberg figure
		{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		margin-top: 0;
		}

		div#pop
		{
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			border-radius: 0;
			padding-bottom: 15px;
		}

			#titrepop
			{
				margin: -10px -10px 20px -20px;
			}

			#pop figure
			{
				width: 335px;
			}


		#heberg #heb
		{
			width: auto;
			background-color: unset;
		}
		
			#heb h1
			{
				margin-left: 20px;
				margin-bottom: 20px;
			}

			#listehotels, #activites
			{
				flex-direction: column;
			}

				#heb figure
				{
					width: 335px;
				}

					.hotels img
					{
						width: 325px;
						object-fit: cover;
					}

			#aff
			{
				margin-bottom: 0;
				margin-left: 20px;
				margin-top: 20px;
			}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  section activités pour MOBILES xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

	section#acti
	{
		margin: 30px 20px 0 20px;
	}

		#activites div
		{
			width: auto;
			height: auto;
			margin-top: 0;
		}

			#acti h1
			{
				margin-bottom: 30px;
			}

			#acti figure
			{
				width: auto;
				max-width: 335px;
				height: 190px;
				margin-right: auto;
				margin-left: auto;
				margin-bottom: 20px;
				margin-top: 0;
			}			
	
				#acti img
				{
					width: 335px;
					height: 135px;
					object-fit: cover;
				}
		

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  modif disposition footer  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

	footer
	{
		flex-wrap: wrap;
		margin-top: 30px;
		margin-left: -10px;
	}
	
		footer div
		{
			min-width: 268px;
		}

}		

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  FIN VERSION MOBILES  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* xxxxxxxxxxxxxxxxxxxxxxxx masquer bouton formulaire version icône pour les écrans AUTRES QUE MOBILES xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media all and (min-width: 768px)

{
	form button.Rechercher
	{
		display: none;
	}
}



/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  VERSION TABLETTES    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media all and (min-width: 768px) and (max-width: 1024px)

{
	

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx centrages section recherche TABLETTES  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

	#boutonformulaire, #filtres
	{
		margin-right: auto;
		margin-left: auto;
	}

	#boutonformulaire
	{
		margin-top: 30px;
	}

		#filtres ul
		{
			justify-content: space-between;
		}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx disposition blocs partie hébergements TABLETTES  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
	
	#heberg
	{
		flex-direction: column-reverse;
		align-items: center;
	}

		#pop
		{
			margin-bottom: 40px;
			width: auto;
			margin-right: auto;
			margin-left: auto;
		}

			#hotelspop
			{
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}

			#pop figure
			{
				width: 323px;
			}

		#heb
		{
			flex-wrap: wrap;
			width: 100%;
		}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx disposition partie activités TABLETTES  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


	#activites
	{
		justify-content: space-around;
	}

}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  FIN VERSION TABLETTES  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  correction disposition bloc Hébergements sur petits écrans ordis    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media all and (min-width: 1025px) and (max-width: 1110px)

{
	#pop
	{
		margin-left: 10px;
	}

	#listehotels
	{
		margin-right: 0;
		margin-left: 0;
	}

	#heb figure
	{
		margin-right: 0;
		margin-left: 0;
	}

}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   THE END  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/




